body{
    font-family: 'Merriweather', serif;
    
}
.header{
   /* background-image: linear-gradient((180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ); */
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Banner\ Image.png');
    background-repeat: none;
    margin: 0 auto;
    max-width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
justify-content: center;
display: flex;
}
.banner-content{
    padding-top: 177px;
    padding-bottom: 0;
    /*padding-left: 370px;*/
   
    color: #ffffff;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.banner-content1{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding-top: 0;
}

.second-section{
    justify-content: center;
}
.off{
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 88px;
font-weight: 700;
padding-top: 20px;
padding-bottom: 0px;
margin-bottom: 45px;

}
.deals{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;

font-weight: 500;
margin-top: 0px;
padding-top: 0px;
margin-bottom: 16px;
}
.categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0;
}
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    width: 802.9px;
height: 500px;
flex-shrink: 0;
}
.third-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Vectorrr.png');
    justify-content: center;
    display: flex; 
    width: 1320px;
height: 600px;
flex-shrink: 0;
margin-top: 120px;
margin-left: auto;
margin-right: auto;
border-top-left-radius: 2%;
border-bottom-left-radius: 2%;
border-top-right-radius: 1%;
border-bottom-right-radius: 1% ;
  
}
.party{
    display: flex;
    color: #FFF;
font-family: Merriweather;
font-size: 54px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-left: 126px;
margin-bottom: 0;
margin-top: 40px;
width: 642px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-left: 126px;
margin-top: 25px;
padding-top: 0;
width: 697px;
}
.button{
    background-color: transparent;
    color: white;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
height: 24px;
margin-top: 20px;
margin-left: 160px;
width: 150px;
border: none;
}
.left{
    display: block;
}
.img{
    margin: auto;
   padding-left: 280px; 
}
.fourth-section{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
height: 482px;
flex-shrink: 0;
display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.fourth{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;
margin-top: 100px;
padding-top: 100px;
}
.name{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.btn{
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
align-content: center;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
margin-top: 50px;
margin-left: 45%;
margin-right: 40%;
}
.left{
    width: 35%;
   margin: 110px;
   display: block;
}

.opt-desc{
    display: flex;
    width: 1320px;
    
height: 7335px;
background: #FFF;

}
.best{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 35px;
margin-left: 3px;
margin-top: 100px;
}
.coming{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-bottom: 0;
margin-bottom: 15px;
margin-top: 15px;
}
.left-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 393px;
margin-top: 0;
}
.middle{
    width: 20%;
    height: 164.844px;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: auto;
}
.ellipse{
    border-radius: 364.844px;
border: 15px solid  #F00;
padding: 35px;
}
.new-year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 30px;
padding-left: 145px;
}

.right-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 276px;
padding-left: 150px;
}
.right{
    display: block;
    width: 40%;
    margin: 120px;
}
.corner{
    width: 140px;
height: 140px;
flex-shrink: 0;
padding-left: 145px;
}